{% include 'header.html' %}

<main class="main-content">
  <h2>🏆 Student Rankings</h2>
  <table>
    <thead>
      <tr>
        <th>Rank</th><th>Name</th><th>Email</th><th>Rank Score</th>
      </tr>
    </thead>
    <tbody>
      {% for student, score in rankings %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ score }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

{% include 'footer.html' %}
